<!DOCTYPE html>
<html>
  
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registro Usuario</title>
	<link rel="stylesheet" type="text/css" href="/css/users.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    
</head>
<body>
    <div class="containerRegistro">
        <section class="form-register">
    
         <h2 style="text-align: center">Registrate </h2>
		 <div id="login">
          <br>
               <tr>
               
        <form class="login_form" action="/registroUsuariosPost" method="post">
            <fieldset>

 
              <br>
              <td>
                <label for="user">Nombre</label>
				<input type="text" name="nombre" class="controls" required="required">
                </td>
             </tr>
                <tr> 
                  <td> 
                    <label for="pss">Apellido</label>
                    <input type="text" name="apellido" class="controls" required="required">
                  </td>
                </tr>
                <tr> 
                  <td> 
                    <label for="pss">Cedula</label>
                    <input type="number" name="cedula" class="controls" required="required">
                  </td>
                </tr>
                <tr> 
                    <td> 
                      <label for="pss">Correo</label>
                      <input type="email" name="email" placeholder="eversonp@gmail.com" aria-label="eversonp@gmail.com"  class="controls" required="required">
                    </td>
                  </tr>
                <tr> 
                    <td> 
                      <label for="pss">Contraseña</label>
                      <input type="password" name="contrasena" class="controls" required="required">
                    </td>
                  </tr>

                <tr>
                    <div class="g-recaptcha" data-sitekey="6Le-zEspAAAAAKBnMLEltJkPi7BaJejSzSQ_p6Ql"></div>      
                </tr>
                <button class= "button" type="submit" value="registrar"><a>Registrarse</a></button>
                <tr>

                  <div style='display:flex;justify-content: center;align-items: center ;color:rgb(0, 0, 0);font-family: Franklin Gothic Medium; text-shadow: 0 1px white;' >
                    <p >¿Ya tienes cuenta? </p>
                    <a href="/loginUsers">Inicia sesion</a>
                </tr>

             </fieldset>
             

            </form>

			</div>
        </section>

      </div>
</body>
</html>