
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body> 
  <main>
   <ul>
      <li>Everson Perales</li>
      <li>C.i: 30.081.742</li>
      <li>Seccion: 2</li>
   </ul>
  </main>

     
<div class="botons-container">
  <a class="botons" href='/login' >Admin</a>
  
  <a class="botons" href='/cliente' >Cliente</a>
</div>


   <%- include('footer') -%>
  
</body>

</html>